/* page index
----------------------------------------------- */
span.azrcrv-pi{
	display: flex;
	flex-flow: row wrap;
}
a.azrcrv-pi{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48.5%;
	height: 100px;
	margin: 4px;
	padding: 5px;
	color: #fff;
	background: #000;
	font-weight: 700;
	text-decoration: none;
}